* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* header */
.div-mio {
  justify-content: center;
}

.li-mio {
  border-right: solid 3px aliceblue;
  color: aliceblue;
}
.li-mio a {
  font-family: "Source Sans 3", sans-serif;
}

.estilo {
  background-color: #3d3936;
  font-size: 30px;
}

header img {
  width: 150px;
  height: 100px;
}

/* footer */
footer {
  background-color: #3d3936;
  color: antiquewhite;
  font-family: "Source Sans 3", sans-serif;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo titulo redes mapa" "logo copyr redes mapa";
}

.footer__div-img img {
  width: auto;
  height: 140px;
}

footer ul li a {
  text-decoration: none;
  color: antiquewhite;
}

.footer__div-img {
  align-self: center;
  justify-self: center;
  grid-area: logo;
}

.footer__div-redes {
  align-self: center;
  justify-self: center;
  grid-area: redes;
}

.footer__div-titulo {
  align-self: center;
  grid-area: titulo;
}

.footer__div-p {
  align-self: center;
  grid-area: copyr;
}

.footer__div-mapa {
  margin: 10px;
  align-self: center;
  justify-self: center;
  grid-area: mapa;
}

footer ul li {
  list-style: none;
  padding: 10px;
}

.footer__div-mapa iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "titulo redes mapa";
  }
  .footer__div-titulo {
    justify-self: center;
  }
  .footer__div-titulo h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .footer__div-redes ul {
    display: flex;
  }
}
/* main inicio*/
.portada img {
  width: 100%;
}

main {
  font-family: "Source Sans 3", sans-serif;
}

.inicio {
  margin-top: 30px;
  margin-bottom: 60px;
}

.inicio h1 {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 100px;
}

.inicio p {
  text-align: center;
  font-size: 24px;
}

.conteiner_main {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  align-content: center;
  justify-items: none;
}

.item_main img {
  padding: 10px;
  width: 450px;
  height: auto;
}

.item_main {
  text-align: center;
  padding: 5px;
  justify-content: center;
}

.item_main p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 450px;
}

.item_main h2 {
  font-weight: 600;
  font-size: 50px;
}

@media (max-width: 576px) {
  .conteiner_main {
    flex-direction: column;
  }
  .item_main img {
    width: 350px;
  }
  .item_main p {
    font-weight: 400;
    font-size: 15px;
    width: 100%;
  }
}
/* section inicio */
.section__main {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  align-content: center;
  justify-items: none;
}

.principal {
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.principal h2 {
  font-weight: 600;
  font-size: 50px;
  padding: 10px;
}

.principal img {
  height: 500px;
  width: auto;
  padding: 3rem;
}

.secundario {
  display: flex;
  margin: auto;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  margin-right: 30px;
}

.secundario img {
  margin-right: 20px;
  padding-left: 50px;
  margin-bottom: 30px;
  height: 224px;
  width: 336px;
}

@media (max-width: 1200px) {
  .secundario {
    flex-wrap: wrap;
  }
  .secundario p {
    padding: 30px;
    text-align: justify;
  }
}
@media (max-width: 576px) {
  .principal img {
    width: 400px;
    height: auto;
    padding: 1rem;
  }
  .principal h2 {
    font-size: 24px;
  }
  .secundario {
    flex-direction: row;
    margin: 10px;
    justify-content: center;
  }
  .ocultar {
    display: none;
  }
  .secundario img {
    height: auto;
    width: 250px;
    margin: 10px;
    padding: 0;
  }
  .inicio p {
    font-size: 18px;
  }
  .inicio h1 {
    font-size: 50px;
    font-weight: 600;
  }
}
/* estilo menu */
#section__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section__menu h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.section__article {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.section__article table {
  margin: 20px;
  width: 30%;
  height: 100%;
  border: solid 1px black;
}

.section__article table tr td {
  padding: 20px;
  font-size: 30px;
  border-right: solid 2px grey;
  text-align: center;
}

.section__article th {
  font-size: 50px;
  text-align: center;
  background-color: #3d3936;
  color: antiquewhite;
}

@media (max-width: 576px) {
  #section__menu {
    flex-direction: column;
  }
  #section__menu h2 {
    font-size: 28px;
  }
  .section__article {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .section__article table tr td {
    font-size: 15px;
    font-weight: 600;
  }
  .section__article th {
    font-size: 30px;
  }
  .section__article table {
    width: 100%;
    margin: 20px;
  }
}
/* estilo de reserva */
.form-reserva {
  border: solid 1px black;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* estilo sobre nosotros */
.conteiner__div {
  display: flex;
  flex-direction: row;
}

.div__fotos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px;
  margin-top: 0px;
  width: 400px;
  height: auto;
}

.div__parrafo {
  margin-right: 50px;
  font-weight: 500;
  font-size: 24px;
  text-align: justify;
}

@media (max-width: 576px) {
  .conteiner__div {
    display: flex;
    flex-direction: column;
  }
  .div__parrafo {
    font-size: 15px;
    font-weight: 600;
    margin: 20px;
    padding: 0;
    margin-top: 0;
  }
}
/* estilo contactos */
#section__contacto {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contacto__article img {
  width: 450px;
  height: auto;
  padding: 20px;
}

.contacto__article h3 {
  font-weight: 600;
  font-size: 40px;
}

.boton__contacto {
  width: 116px;
  height: 40px;
  padding: 0px 10px 0px 10px;
  background: #3d3936;
  border-radius: 6px 6px 6px 6px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.boton__contacto a {
  text-decoration: none;
  color: antiquewhite;
}

.div__contacto {
  display: flex;
}

.div__item {
  text-align: center;
  margin: 10px;
  padding: 30px;
}

.text-mio {
  height: 300px;
}

.div__item h2 {
  padding: 20px;
  font-weight: 600;
  font-size: 45px;
}

.boton-mio {
  background-color: #3d3936;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  color: antiquewhite;
}

@media (max-width: 576px) {
  #section__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
