$padding-s: 20px;
$padding-xs: 10px;
$padding-md: 50px;
$padding-xl: 100px;

 $colorPrincipal:#3d3936;
 $colorDos: aliceblue;
 $colorTres:antiquewhite;

$margin-md: 50px;
$margin-s:20px;
$margin-xs: 10px;
$margin-xl: 100px;

$font: 'Source Sans 3', sans-serif;
$size-principal:24px;
$size-secundario:18px;
$size-titulo:100px;
$size-mediano:50px;
$size-mv:15px;
$fw-importante: 600;
$fw-principal:500;
$fw-mv: 400;

$flexible: flex;




