                                // index

							/* main inicio*/
.portada{
        img{
	        width: 100%;
            }
        }
main{
	font-family: $font;
    }
.inicio{
	    margin-top: $margin-xs*3;
	    margin-bottom: $margin-md+10;
        }
.inicio{
        h1{
            text-align: center;
            font-family:$font;
            font-weight: $fw-importante;
            font-size: $size-titulo;
             }
        }
.inicio{ 
        p{
	        text-align: center;
	        font-size: $size-principal;
            }
        }

.conteiner_main
{margin: $margin-xs;
    @include flexible(row, wrap, space-evenly, none, center, none )    
}
.item_main{
            img{
	            padding: $padding-xs;
	            width: 450px;
	            height: auto
                }
}
.item_main{
	        text-align: center;
	        padding: $padding-xs/2;
	        justify-content: center;
            }
.item_main{
            p{
                font-family: $font;
                font-weight: $fw-principal;
                font-size: $size-principal;
                width: 450px;
                }
            }   
.item_main{
            h2{
	            font-weight: $fw-importante;
	            font-size: $size-mediano;
                }
            }
@media (max-width:576px) {
	                        .conteiner_main{
	                                    	flex-direction: column;
	                                        }
                        	.item_main{ 
                                       img{ width: 350px;}
	                                      }
	                        .item_main{
                                       p{
		                                  font-weight: $fw-mv;
		                                  font-size: $size-mv;
		                                 width: 100%;
	                                        }   
                                        }
                            }
						/* section inicio */
.section__main{
	@include flexible(column, none, none,none,center,none )
}
.principal{
	flex-direction: column;
	align-content: center;
	text-align: center;
	
}
.principal{
            h2{
            font-weight: $fw-importante;
            font-size: $size-mediano;
            padding: $padding-xs;
                }
            }
.principal{
            img{
            height:500px;
            width:auto;
            padding: 3rem;
                }
            }
.secundario{
	display: flex;
	margin: auto;
	flex-direction: row;
	font-size: $size-secundario;
	font-weight: $fw-importante;
	margin-right: $margin-xs*3;
	
}
.secundario{
            img{
            margin-right: $margin-s;
            padding-left: $padding-md;
            margin-bottom: $margin-s+10;
            height:224px;
            width: 336px;
                }
            }
@media (max-width: 1200px)  {
                                .secundario{
                                                flex-wrap: wrap;
                                            }
                                .secundario{
                                                p{
                                                padding: $padding-s+10;
                                                text-align: justify;
                                                    }
                                            }
                            }
@media (max-width:576px){
                            .principal{
                                        img{
                                        width: 400px;
                                        height: auto;
                                        padding: 1rem;
                                            }
                                    }
                            .principal{
                                        h2{
                                        font-size: $size-principal;
                                            }
                                    }
                            .secundario{
                                        flex-direction: row;
                                        margin: 10px;
                                        justify-content: center;
                                    }
                            .ocultar{
                                    display: none;
                                    }
                            .secundario{
                                        img{
                                        height: auto;
                                        width: 250px;
                                        margin: 10px;
                                        padding: 0;
                                            } 
                                    }
                            .inicio{
                                    p{
                                    font-size: $size-secundario;
                                        }
                                }
                            .inicio{
                                    h1{
                                        font-size: $size-mediano;
                                        font-weight: $fw-importante;
                                        }
                                    }
                            }