								/* estilo menu */

#section__menu{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#section__menu{
				h2{
				text-align: center;
				font-size: $size-mediano;
				font-weight: $fw-importante;
				}
			}
.section__article{
					display: flex;
					flex-direction: row;
					padding: 10px;
					justify-content: space-evenly;
					width: 100%;
					height: 100%;
				}
.section__article{
				table{
				margin: 20px;
				width: 30%;
				height: 100%;
				border: solid 1px black;
						}
				}
.section__article{
				table{
					tr{
						td{
							padding: 20px;
							font-size: 30px;
							border-right: solid 2px grey;
							text-align: center;
								}
							}
						}
				}
.section__article{
					th{
					font-size: $size-mediano;
					text-align: center;
					background-color: $colorPrincipal;
					color: $colorTres;
					}
				}
@media(max-width:576px){
						#section__menu{
							flex-direction: column;
						}
						#section__menu{
							h2{
							font-size: 28px;
								}
						}
						.section__article{
							flex-direction: column;
							align-items: center;
							padding: 20px;
						}
						.section__article{
										table{
											tr{
												td{
													font-size: $size-mv;
													font-weight: $fw-importante;
													}
												}
											}
										}
						.section__article{
											th{
											font-size: 30px;
												}
										}
						.section__article{
										table{
										width: 100%;
										margin: 20px;
												}
										}
						}