					/* estilo sobre nosotros */
.conteiner__div{
				display: flex;
				flex-direction: row;
			}
.div__fotos{
				display: flex;
				flex-direction: column;
				gap: 40px;
				margin: 50px;
				margin-top: 0px;
				width: 400px;
				height: auto;
			}
.div__parrafo{
				margin-right: $margin-md;
				font-weight: $fw-principal;
				font-size: $size-principal;
				text-align: justify;
			}
@media (max-width:576px){
							.conteiner__div{
								display: flex;
								flex-direction: column;
							}
							.div__parrafo{
								font-size: $size-mv;
								font-weight: $fw-importante;
								margin: $margin-s;
								padding: 0;
								margin-top: 0;
							}

						}